/* Existing CSS content */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto+Mono:wght@400;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background: url('images/ocean.webp') no-repeat center center fixed;
    background-size: cover;
    color: #004d40;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.05); /* 95% transparent */
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Light shadow */
}

.header-wrapper {
    position: relative;
    overflow: hidden;
}

.header-wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    background: inherit; /* Inherit the background of the header */
    z-index: -1;
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform: scale(1.2); /* Slightly scaled up for the magnifying effect */
}

.header-wrapper:hover::before {
    transform: scale(1);
    opacity: 0.5; /* Optional: Adjust opacity for a better visual effect */
}

.promo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.promo-container a {
    background-color: #007c91;
    color: white;
    padding: 10px;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    margin: 0 10px; /* Add margin to space out the buttons */
    animation: pulse 1.5s infinite;
}

.promo-container a:hover {
    background-color: #004d40;
}

.header-social-links {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-icon {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
}

.social-icon:hover {
    transform: scale(1.1);
}

.larger-social-icon {
    width: 45px;
    height: 45px;
}

.larger-social-icon-1-2 {
    width: 36px;
    height: 36px;
}

.larger-pump-icon {
    width: 67.5px;
    height: 67.5px;
}

#hamburger-menu {
    font-family: 'Roboto Mono', monospace;
    font-size: 30px;
    cursor: pointer;
    color: #ffffff; /* Bright white color */
    background-color: transparent; /* No background */
    padding: 10px;
    border-radius: 5px;
    text-align: center; /* Center the menu icon */
}

#mobile-nav {
    display: none;
    flex-direction: column;
    background-color: #007c91;
    position: fixed;
    top: 50px; /* Adjust to align with header */
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1001;
    transition: all 0.3s ease-in-out;
}

#mobile-nav.open {
    display: flex;
}

#mobile-nav a {
    padding: 10px;
    color: white;
    text-decoration: none;
    font-family: 'Roboto Mono', monospace;
    font-size: 1em;
}

#mobile-nav a:hover {
    background-color: rgba(0, 51, 46, 0.2);
}

main {
    padding: 2em;
    text-align: center;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1em;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.5em;
    animation: fadeIn 1s ease-in-out;
}

.container h2 {
    font-family: 'Roboto Mono', monospace;
    font-size: 2.5em;
    margin-bottom: 1em;
    font-weight: bold;
    color: #007c91;
    animation: slideInFromLeft 1s ease-in-out;
}

.container p, .container li {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    margin-bottom: 0.5em;
    color: #004d40;
    line-height: 1.6;
}

.merch-link {
    display: block;
    color: #007c91; /* Same color as background */
    padding: 10px;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    animation: pulse 1.5s infinite;
    margin-top: 1em;
    margin-bottom: 1em; /* Added margin-bottom to space it from the text below */
}

.merch-link:hover {
    color: #004d40; /* Darker shade on hover */
}

img.inline, .concept-logo, .mission-logo, .vision-logo, .value-proposition-logo, .brand-narrative-logo, .how-we-make-it-happen-logo {
    width: 300px;
    height: auto;
    border-radius: 15px;
    margin-bottom: 1em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-image, .game-image, .merchandise-image {
    width: 300px;
    height: auto;
    border-radius: 15px;
    margin-bottom: 1em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: transparent;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: relative;
}

footer p {
    background-color: #007c91;
    margin: 0;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
}

#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007c91;
    color: white;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    display: none;
}

#back-to-top:hover {
    background-color: #004d40;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideInFromLeft {
    from {
        transform: translate3d(-100%, 0, 0);
        opacity: 0;
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

.pulse {
    animation: pulse 1.5s infinite;
}

.game-section {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2em;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto 1.5em;
    animation: fadeIn 1s ease-in-out;
}

.game-section h2 {
    font-family: 'Roboto Mono', monospace;
    font-size: 2.5em;
    margin-bottom: 1em;
    font-weight: bold;
    color: #007c91;
    animation: slideInFromLeft 1s ease-in-out;
}

.game-section p a {
    color: #1976d2;
    font-weight: bold;
    text-decoration: underline;
    animation: fadeIn 2s ease-in-out;
}

.video-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden; /* Add overflow hidden */
    width: 100%; /* Add this for responsive width */
}

.video-container {
    width: 100%; /* Full width on mobile */
    max-width: 560px; /* Max width for larger screens */
    transition: transform 0.5s ease-in-out;
}

.carousel-button {
    background-color: transparent;
    border: none;
    font-size: 2em;
    color: #007c91;
    cursor: pointer;
    z-index: 10;
    outline: none;
}

.carousel-button:hover {
    color: #004d40;
}

#prev-video {
    position: absolute;
    left: 10px;
}

#next-video {
    position: absolute;
    right: 10px;
}

@media (max-width: 600px) {
    .video-container {
        height: auto; /* Adjust height for mobile */
    }

    .video-container video {
        width: 100%; /* Full width on mobile */
        height: auto; /* Adjust height for mobile */
    }

    .carousel-button {
        font-size: 1.5em; /* Smaller button size on mobile */
    }
}

/* Contact form styling */
#contact-form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the items */
}

#contact-form label, #contact-form input, #contact-form textarea, #contact-form button {
    margin-bottom: 10px;
    width: 100%; /* Full width for the items */
    max-width: 500px; /* Max width to constrain the size */
}

#contact-form input, #contact-form textarea {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#contact-form button {
    padding: 10px;
    font-size: 16px;
    background-color: #007c91; /* Adjusted color */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#contact-form button:hover {
    background-color: #0056b3; /* Adjusted hover color */
}
